.chart-one {
  width: 200px;
  height: 200px;
  margin: 0;
  position: relative;
}

.chart-one.animate svg .circle-foreground {
  animation: offset 3s ease-in-out forwards;
  animation-delay: 1s;
}

.chart-one.animate figcaption:after {
  animation: chart-one-label 3s steps(65) forwards;
  animation-delay: 1s;
}

.chart-one svg {
  width: 100%;
  height: 100%;
}

.chart-one svg .circle-background, .chart-one svg .circle-foreground {
  r: 90px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #14685a;
  stroke-width: 20px;
}

.chart-one svg .circle-foreground {
  stroke: #27debf;
  stroke-dasharray: 367.38px 565.2px;
  stroke-dashoffset: 367.38px;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.chart-one figcaption {
  display: inline-block;
  width: 100%;
  height: 3.5rem;
  overflow: hidden;
  text-align: center;
  color: #000;
  position: absolute;
  top: calc(50% - 1.75rem);
  left: 0;
  font-size: 0;
}

.chart-one figcaption:after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
  white-space: pre;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

@keyframes chart-one-label {
  100% {
    transform: translateY(-227.5rem);
  }
}

.chart-two {
  width: 200px;
  height: 200px;
  margin: 0;
  position: relative;
}

.chart-two.animate svg .circle-foreground {
  animation: offset 3s ease-in-out forwards;
  animation-delay: 1s;
}

.chart-two.animate figcaption:after {
  animation: chart-two-label 3s steps(75) forwards;
  animation-delay: 1s;
}

.chart-two svg {
  width: 100%;
  height: 100%;
}

.chart-two svg .circle-background, .chart-two svg .circle-foreground {
  r: 90px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #14685a;
  stroke-width: 20px;
}

.chart-two svg .circle-foreground {
  stroke: #27debf;
  stroke-dasharray: 423.9px 565.2px;
  stroke-dashoffset: 423.9px;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.chart-two figcaption {
  display: inline-block;
  width: 100%;
  height: 3.5rem;
  overflow: hidden;
  text-align: center;
  color: #000;
  position: absolute;
  top: calc(50% - 1.75rem);
  left: 0;
  font-size: 0;
}

.chart-two figcaption:after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
  white-space: pre;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

@keyframes chart-two-label {
  100% {
    transform: translateY(-262.5rem);
  }
}

.chart-three {
  width: 200px;
  height: 200px;
  margin: 0;
  position: relative;
}

.chart-three.animate svg .circle-foreground {
  animation: offset 3s ease-in-out forwards;
  animation-delay: 1s;
}

.chart-three.animate figcaption:after {
  animation: chart-three-label 3s steps(20) forwards;
  animation-delay: 1s;
}

.chart-three svg {
  width: 100%;
  height: 100%;
}

.chart-three svg .circle-background, .chart-three svg .circle-foreground {
  r: 90px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #14685a;
  stroke-width: 20px;
}

.chart-three svg .circle-foreground {
  stroke: #27debf;
  stroke-dasharray: 113.04px 565.2px;
  stroke-dashoffset: 113.04px;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.chart-three figcaption {
  display: inline-block;
  width: 100%;
  height: 3.5rem;
  overflow: hidden;
  text-align: center;
  color: #000;
  position: absolute;
  top: calc(50% - 1.75rem);
  left: 0;
  font-size: 0;
}

.chart-three figcaption:after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
  white-space: pre;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

@keyframes chart-three-label {
  100% {
    transform: translateY(-70rem);
  }
}

.chart-four {
  width: 200px;
  height: 200px;
  margin: 0;
  position: relative;
}

.chart-four.animate svg .circle-foreground {
  animation: offset 3s ease-in-out forwards;
  animation-delay: 1s;
}

.chart-four.animate figcaption:after {
  animation: chart-four-label 3s steps(50) forwards;
  animation-delay: 1s;
}

.chart-four svg {
  width: 100%;
  height: 100%;
}

.chart-four svg .circle-background, .chart-four svg .circle-foreground {
  r: 90px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #14685a;
  stroke-width: 20px;
}

.chart-four svg .circle-foreground {
  stroke: #27debf;
  stroke-dasharray: 282.6px 565.2px;
  stroke-dashoffset: 282.6px;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.chart-four figcaption {
  display: inline-block;
  width: 100%;
  height: 3.5rem;
  overflow: hidden;
  text-align: center;
  color: #000;
  position: absolute;
  top: calc(50% - 1.75rem);
  left: 0;
  font-size: 0;
}

.chart-four figcaption:after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
  white-space: pre;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

@keyframes chart-four-label {
  100% {
    transform: translateY(-175rem);
  }
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

.gallery {
  position: relative;
  z-index: 2;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  transition: all .5s ease-in-out;
  transform: translateZ(0);
}

.gallery.pop {
  filter: blur(10px);
}

.gallery figure {
  flex-basis: 33.333%;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
}

.gallery figure img {
  width: 100%;
  transition: all .3s ease-in-out;
  height: 100%;
}

.gallery figure figcaption {
  display: none;
}

.popup {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  opacity: 0;
  transition: opacity .5s ease-in-out .2s;
  z-index: 20;
}

.popup.pop {
  opacity: 1;
  transition: opacity .2s ease-in-out 0s;
}

.popup.pop figure {
  margin-top: 0;
  opacity: 1;
}

.popup figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  margin-top: 30px;
  opacity: 0;
  animation: poppy 500ms linear both;
}

.popup figure img {
  position: relative;
  z-index: 2;
}

.popup figure figcaption {
  position: absolute;
  bottom: 50px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.78));
  z-index: 2;
  width: 100%;
  padding: 100px 20px 20px 20px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}

.popup figure figcaption small {
  font-size: 11px;
  display: block;
  text-transform: uppercase;
  margin-top: 12px;
  text-indent: 3px;
  opacity: .7;
  letter-spacing: 1px;
}

.popup figure .shadow {
  position: relative;
  z-index: 1;
  top: -56px;
  margin: 0 auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 98%;
  height: 50px;
  opacity: .9;
  filter: blur(16px) contrast(1.5);
  transform: scale(0.95, -0.7);
  transform-origin: center bottom;
}

.popup .close {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url(#close);
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.popup .close svg {
  width: 100%;
  height: 100%;
}

@keyframes poppy {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    transform: matrix3d(0.316, 0, 0, 0, 0, 0.407, 0, 0, 0, 0, 1, 0, -94.672, -91.573, 0, 1);
  }
  4.3% {
    transform: matrix3d(0.408, 0, 0, 0, 0, 0.54, 0, 0, 0, 0, 1, 0, -122.527, -121.509, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.599, 0, 0, 0, 0, 1, 0, -134.908, -134.843, 0, 1);
  }
  6.81% {
    transform: matrix3d(0.659, 0, 0, 0, 0, 0.893, 0, 0, 0, 0, 1, 0, -197.77, -200.879, 0, 1);
  }
  8.61% {
    transform: matrix3d(0.82, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, -245.972, -246.757, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 1.168, 0, 0, 0, 0, 1, 0, -265.038, -262.804, 0, 1);
  }
  10.21% {
    transform: matrix3d(0.942, 0, 0, 0, 0, 1.226, 0, 0, 0, 0, 1, 0, -282.462, -275.93, 0, 1);
  }
  12.91% {
    transform: matrix3d(1.094, 0, 0, 0, 0, 1.328, 0, 0, 0, 0, 1, 0, -328.332, -298.813, 0, 1);
  }
  13.61% {
    transform: matrix3d(1.123, 0, 0, 0, 0, 1.332, 0, 0, 0, 0, 1, 0, -336.934, -299.783, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.331, 0, 0, 0, 0, 1, 0, -342.273, -299.395, 0, 1);
  }
  17.22% {
    transform: matrix3d(1.205, 0, 0, 0, 0, 1.252, 0, 0, 0, 0, 1, 0, -361.606, -281.592, 0, 1);
  }
  17.52% {
    transform: matrix3d(1.208, 0, 0, 0, 0, 1.239, 0, 0, 0, 0, 1, 0, -362.348, -278.88, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, -363.633, -267.15, 0, 1);
  }
  21.32% {
    transform: matrix3d(1.196, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, -358.864, -240.617, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, -345.164, -216.073, 0, 1);
  }
  25.23% {
    transform: matrix3d(1.134, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, -340.193, -210.948, 0, 1);
  }
  28.33% {
    transform: matrix3d(1.075, 0, 0, 0, 0, 0.898, 0, 0, 0, 0, 1, 0, -322.647, -202.048, 0, 1);
  }
  29.03% {
    transform: matrix3d(1.063, 0, 0, 0, 0, 0.897, 0, 0, 0, 0, 1, 0, -318.884, -201.771, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, -314.277, -202.202, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, -293.828, -216.499, 0, 1);
  }
  36.74% {
    transform: matrix3d(0.972, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, -291.489, -220.242, 0, 1);
  }
  39.44% {
    transform: matrix3d(0.962, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, -288.62, -227.228, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, -288.247, -229.999, 0, 1);
  }
  44.44% {
    transform: matrix3d(0.966, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, -289.763, -232.215, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, -297.363, -226.449, 0, 1);
  }
  59.86% {
    transform: matrix3d(1.006, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, -301.813, -222.759, 0, 1);
  }
  61.66% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, -302.102, -222.926, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, -302.171, -223.276, 0, 1);
  }
  75.28% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -300.341, -225.696, 0, 1);
  }
  83.98% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -299.61, -225.049, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -299.599, -224.94, 0, 1);
  }
  90.69% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, -299.705, -224.784, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, -225, 0, 1);
  }
}

* {
  font-family: 'Josefin Sans', sans-serif !important;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.abs {
  position: absolute;
}

.pos {
  top: 0px;
  left: 0px;
}

.height {
  height: 80vh !important;
  position: relative !important;
  overflow: hidden !important;
  width: 100%;
}

.mojebg {
  width: 100%;
  height: 80vh;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}

a {
  color: #707070 !important;
  transition: .4s ease;
}

a:hover {
  font-weight: 400;
  color: #455a64 !important;
}

.active a {
  color: #455a64 !important;
  font-weight: 600;
}

#linkhead {
  background-color: #27debf;
  padding: 10px 27px;
  border-radius: 25px;
  color: #000000 !important;
  transition: .4s;
  text-decoration: none;
  margin-right: 15px;
  z-index: 10;
}

#linkhead:hover {
  border: 1px solid #27debf !important;
  background-color: #ffffff !important;
  color: #27debf !important;
}

#linkheadtwo {
  line-height: 44px;
  text-decoration: none;
  color: #000000 !important;
  z-index: 10;
}

#linkheadtwo:hover {
  font-weight: 400;
  color: #455a64 !important;
}

.pos {
  left: 40%;
  top: -200px;
}

.pos:nth-child(2) {
  left: 10%;
  top: 250px;
}

.pos:nth-child(3) {
  left: 35%;
  top: 100px;
}

.pos:nth-child(4) {
  left: 37%;
  top: 190px;
}

.pos:nth-child(5) {
  left: 80%;
  top: -100px;
}

.minitxt {
  color: #27debf;
  font-size: 12px;
}

.aboutme {
  font-size: 21px;
  font-weight: 600;
  color: #000000;
  padding: 20px 0;
}

.about {
  margin-right: 170px;
}

.btn__click {
  margin-top: 20px;
  background-color: #27debf;
  border-radius: 5px;
  height: 40px;
  width: 140px;
  display: flex;
  justify-content: center;
  line-height: 40px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 200;
  transition: .4s ease;
  cursor: pointer;
  color: #ffffff !important;
  text-decoration: none;
}

.btn__click:hover {
  color: #f5f5f5;
  text-decoration: none !important;
}

progress {
  border-radius: 2px;
  width: 90%;
  height: 7px;
}

progress::-webkit-progress-bar {
  background-color: #abd8d0;
  border-radius: 2px;
}

progress::-webkit-progress-value {
  background-color: #27debf;
  border-radius: 2px;
}

progress::-moz-progress-bar {
  /* style rules */
}

.circ {
  background-color: #ffffff;
  border-radius: 20px !important;
  padding: 15px !important;
  height: 100% !important;
  min-height: 250px;
}

.circ p {
  padding-top: 15px;
}

.padtop {
  padding-top: 70px;
}

.padtop30 {
  padding-top: 30px;
}

.whitespaceone {
  padding: 20px;
  box-shadow: 0px 8px 1em #00000021;
  max-width: 90%;
  border-radius: 10px;
}

.whitespaceone h2 {
  padding: 10px 0;
}

.whitespaceone p {
  padding: 10px 0;
}

.whitespaceone img {
  padding: 10px 0px;
}

.whitespaceone button {
  background-color: #27debf;
  padding: 10px 27px;
  color: #ffffff !important;
  transition: .4s;
  text-decoration: none;
  margin-right: 15px;
  z-index: 10;
  border: none;
  cursor: pointer;
}

.whitespaceone button:hover {
  border: 1px solid #27debf !important;
  background-color: #ffffff !important;
  color: #27debf !important;
}

.whitespaceone:nth-child(2) {
  max-height: 250px;
  padding: 40px 20px;
  max-width: 100%;
}

.greenspace {
  background-image: #27debf !important;
  background: #27debf !important;
  color: #ffffff;
  box-shadow: 0px 8px 1em #00000021 !important;
}

.greenspace button {
  background-color: #ffffff;
  padding: 10px 27px;
  color: #27debf !important;
  transition: .4s;
  text-decoration: none;
  margin-right: 15px;
  z-index: 10;
  border: none;
  cursor: pointer;
}

.greenspace button:hover {
  border: 1px solid #ffffff !important;
  background-color: #27debf !important;
  color: #ffffff !important;
}

#myProgress {
  width: 95%;
  background-color: #abd8d0;
  margin: 15px 0px;
}

.myBar {
  width: 95%;
  height: 4px;
  background-color: #27debf;
}

.mybartwo {
  width: 85%;
  height: 4px;
  background-color: #27debf;
}

#arrow {
  transform: rotate(270deg);
  position: fixed;
  bottom: 3%;
  width: 30px;
  right: 3%;
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 4px;
  transition: .4s ease;
  cursor: pointer;
}

#arrow:hover {
  background-color: #707070;
}

.title_services h2 {
  font-size: 14px !important;
  color: #27debf !important;
}

.title_services p {
  font-size: 24px !important;
}

.map {
  left: 50%;
  top: -50px;
  transform: translate(-50%, 0%);
}

input.middle:focus {
  outline-width: 0 !important;
}

input:focus, input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.form-control {
  padding: .575rem .75rem !important;
  font-size: 12px !important;
}

.sendmess {
  background: #27debf;
  font-size: 12px !important;
  color: #ffffff;
  transition: .4;
}

.sendmess:hover {
  background-color: #ffffff;
  border: 1px solid #27debf;
  color: #27debf;
}

.sentmail p {
  padding: 0 !important;
  margin: 0 !important;
}

.upinmail {
  text-transform: uppercase;
  color: #27debf;
}

.padb {
  padding-bottom: 15px;
}

hr.new5 {
  border: 1px solid #27debf;
  border-radius: 0px;
  width: 100%;
}

/* dodanie px do img */
.imgslider {
  width: 396px;
}

@media screen and (max-width: 1220px) {
  .text-wrap {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .mojebg {
    display: none;
  }
  #about {
    height: 100%;
  }
  .sliderod {
    padding-bottom: 5rem;
  }
  .imgslider {
    display: none;
  }
  .map {
    width: 100%;
  }
  .photoinabout {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about {
    margin-right: 0px;
  }
}
/*# sourceMappingURL=style.css.map */